.loader {
    position: relative;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 100%;
    animation: loader-1 30s infinite linear;
}

.loader:before,.loader:after{
    content: '';
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:before{
    width: 4em;
    height: 2em;
    animation: loader-2 .8s linear infinite;
    color: white;
}

.loader:after {
    width: 2em;
    height: 4em;
    animation: loader-2 1.2s linear infinite;
    color: white;
}

@keyframes loader-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-2 {
0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
}
25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
}
50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
}
75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
}
100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
}
}